:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background: #f0f0f0;
}

.sort {
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-start;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .5);
  padding: 1rem;
  margin-bottom: 0.2rem;
}

.card-list {
  display: flex;
  /*height: 800px;*/
  flex: 1 100%;
  overflow-y: auto;
  flex-flow: row wrap;
  justify-content: flex-start;
}

